body{
    font-family: "Inter",serif;
    margin: 0px;
    background-color: #3f3f3f;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}
h1{
    margin: 0px;
    font-weight: 200;
}
.root{
    width: 100vw;
    height: 100vh;
    background-color: #1c1b1b;
    color: #FFFFFF;
}
.rectangle{
    background-color: #3f3f3f;
    margin: 30px;
    width: 300vw;
    z-index: 1;
    transform: rotate(-45deg);
    left: -135vw;    
    height: 30px;
    position: absolute;
    
    animation: rectangle-slide 2.5s;
}

.rectangle-2{
    top: 120px;
}
.all-first-page-content{
    display: flex;
    animation: slide-in 3s;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
    background-color: #1c1b1b;
}
.logo-icon{
    width: 50px;
    height: 50px;
    animation: none;
}
.text-stuff{
    display: flex;
    margin-right:   20px;
    align-items: center;
    flex-direction: column;
}
.main-header{
    font-size: 64px;
}
.sub-header{
    font-size: 40px;
}
@keyframes slide-in{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    55%{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes rectangle-slide {
    from{
        transform: translateY(295vh) rotate(-45deg);
    }
    60%{
        transform: translateY(-90vh) rotate(-45deg);
    }
    to{
        transform: translateY(0%) rotate(-45deg);
    }
}

@keyframes slide-main-header-down {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(20px);
    }
}

@keyframes reduce-height-of-header{
    from{
        height: 100vh;
    }
    to{
        height: 110px;
    }
}

.page{
    font-family: inherit;
    height: 100vh;
}
.tweet{
    font-family: "Inter",serif;
    font-size: 36px;
    font-weight: 200;
    transform: translate(80px,100px);
    text-align: center;
    display: flex;
    width: 60%;
    height: 40%;
}
.account-handle{
    font-size: 36px;
    display: flex;
    font-weight: 100;
    margin-left: 50%;
}
.reply{
    width: 30%;
    display: flex;
    height: 40%;
    font-weight: 100;
    font-size: 20px;
    margin-left: 65%;
    flex-direction: column;
}
.reply-1{
    margin-bottom: 60px;
}
.reply-handle{
    position: relative;
    top: 40px;
    font-weight: 100;
}
@keyframes page-scroll-up {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-100%);
    }
}